body{
	font-family: helvetica, arial, sans-serif;
	background-color: white;
	background-image: linear-gradient(rgb(38, 49, 136), rgb(10, 15, 61));
	width: 100%;
}

h1{
	text-align: center;
	color: white;
}

h2{
	text-align: left;
	padding-left: 3em;
	padding-top:0px;
	padding-bottom: 20px;
	border-bottom: 3px white solid;
	color: white;
}

a{
	text-decoration: none;
}

a:hover{
	font-style: italic;
	opacity: 0.5;
}

a:active{
	font-style: italic;
	color: black;
}
a:visited{
	text-decoration:none;
}

.categories a{
	color: white;
}

.categories a:hover{
	font-style: italic;
	opacity: 0.5;
}

.categories a:active{
	font-style: italic;
	color: black;
}

.content{
	display: flex;
	width: 100%;
}

.categories{
	padding:10px;
	padding-top: 3em;
	padding-bottom: 0px;
	color: white;
	/* position: fixed; */
}

.main{
	padding: 10px;
	line-height: 1.6em;
	flex-grow: 1;
}

.description{
	background-color: white;
	padding: 1em;
}

.footer{
	color: whitesmoke;
}
.footer a{
	color:whitesmoke;
}



