body {
	font-family: helvetica, arial, sans-serif;
	background-color: white;
}

h1 {
	text-align: center;
	margin: 0%;
}

a {
	color: rgb(10, 10, 200);
	font-style: normal;
	text-decoration: none;
}

a:hover{
	font-style: italic;
}

a:active{
	font-style: italic;
	color: black;
}

li {
    padding: 0;
    margin: 0;
}

nav {
	background: navy;
}

.content{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	background: slategray;
	width: 100%;
	align-items: baseline;
}

.content-title {
	color: white;
	order: -1;
	width: 100%;
	text-align: center;
}

.content-child {
	margin: 5px;
	border-radius: 6px;
	padding: 0% 1%;
	border: 5px;
	border-color: pink;
	border-style: solid;
}

.categories{
	padding: 10px 0%;
	margin: 0%;
	color: white;
	display: inline-flex;
	justify-content: center;
	width: 100%;
}

ul.categories {
	list-style-type: none;
	padding-right: 0%;
	text-align: center;
}

li.cat_item {
	padding: 0px 1vw;
}

a.cat_link {
	color: white;
	font-size: large;
	font-weight: 600;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: yellow;
	order: 2;
	flex: 1;
	margin: 1px;
}

#description{
	background-color: green;
	order: 1;
	flex: 2;
}

#title {
	width: 100vw;
	font-size: large;
}
