@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Inter:400,500,600,700,800,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700&display=swap');

body {
	font-family: 'Inter', helvetica, arial, sans-serif;
	background-color: white;
}

h4 {
	font-size: 14px;
	margin: 0px;
}

h1 {
	text-align: center;
	margin: 0%;
}

a {
	color: rgb(104, 22, 0);
	font-style: normal;
	text-decoration: none;
}

a:hover{
	font-style: italic;
}

a:active{
	font-style: italic;
	color: black;
}

li {
    padding: 0;
    margin: 0;
}

nav {
	background-color: #320A28;
	border-radius: 100px 10px 0px 0px;
	margin-bottom: 10px;
}

body {
	margin-left:  4%;
	margin-right: 4%;
	background-color: rgb(247, 244, 247);
}

#main {
	display: flex;
}

#sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	max-width: 25%;
}

.sidebar-child {
	background-color: rgb(104, 22, 0);
	color: whitesmoke;
	margin-right: 10px;
	padding: 10px;
	flex-basis: 50%; /* assumes there's two children */
}

.sidebar-child:not(:first-child) {
	margin-top: 10px;
}

.sidebar-child:last-child {
	border-radius: 0px 0px 0px 8px;
}

#content {
	display: flex;
	justify-content: space-evenly;
	align-content: flex-start;
	align-items: flex-end;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #511730;
	width: 100%;
	height: 80vh;
	padding: 10px 0px; /* 10 px vertical radius buffer for children */
	border-radius: 0px 0px 100px 0px;
}

.content-title {
	color: white;
	order: -1;
	width: 100%;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-weight: 700;
}

.content-child {
	padding: 0% 1%;
	min-width: 200px;
	margin: 0% 3%;
	max-height: 500px;
	color: rgb(36, 36, 36);
	background-color: #8E443D;
}

.categories{
	padding: 10px 0%;
	margin: 0%;
	color: white;
	display: inline-flex;
	justify-content: center;
	width: 100%;
}

ul.categories {
	list-style-type: none;
	padding-right: 0%;
	text-align: center;
}

li.cat_item {
	padding: 0px 1vw;
}

a.cat_link {
	color: white;
	font-size: large;
	font-weight: 600;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	order: -1;
}

#description{
	order: 1;
	flex: 2;
	max-width: 800px;
}

#title {
	width: 100vw;
	font-size: 18px;
	font-family: 'Source Sans Pro';
	font-weight: 700;
}
